body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
}

.page-container {
  margin-left: 10px;
  margin-right: 10px;
}

#displayTable {
  border-collapse: collapse;
  width: 100%;
}

#displayTable caption {
  margin-bottom: 20px;
}

#displayedItems td,
#displayedItems th {
  border: 1px solid #ddd;
  padding: 8px;
}

#displayedItems tr:nth-child(even) {
  background-color: #f2f2f2;
}

#displayedItems tr:hover {
  background-color: #ddd;
}

#displayedItems th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
